<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>counter</title>
        

    </head>
    <body>
        <div id="form_box">
            <h1 class="h1">User:</h1>
            <h3 class="h5">your visiting the page{{session['username']}}sertain amount of times</h3>
            <form action="">
                <button type="submit" class="first" name="change" value="add">add visits to server</button>
                <button type="submit" class="second" name="change" value="reset"> reset visits to server</button>
                <!-- <h3>{{session['useremail']}}</h3> -->
            </form> 
        </div>
    </body>
</html>