<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>play ground</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="wrapper">
            {% for i in range(0,num) %}
            <!-- style targetting background color while using the variable/value color to change the background color when changed -->
            <div class="box" style="background-color:{{color}};"></div> 
            {% endfor %}
        </div>
    </body>
</html>